requests
httpx
aiohttp
uvloop
psutil
boto3
botocore
colorama
rich
tqdm
urllib3
chardet
python-dotenv
dnspython
idna
certifi
email-validator
beautifulsoup4
lxml
fake-useragent
httpagentparser
pyopenssl
pycryptodome
pyfiglet
terminaltables
backoff
pydantic
setuptools
wheel
